<footer class="footer">

    <p>
        <strong>APMaths</strong><br>
        Kiến thức • Công cụ • Tài nguyên Toán học
    </p>

    <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/knowledge/">Kiến thức</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/tools/">Công cụ</a></li>
        <li><a href="/resources/">Tài nguyên</a></li>
        <li><a href="/about/">Giới thiệu</a></li>
    </ul>

    <ul>
        <li>
            <a href="mailto:hoangnam.sp101@gmail.com">
                <i class="fa fa-envelope"></i> Email
            </a>
        </li>

        <li>
            <a href="/other/html-code/">
                <i class="fa fa-file-code-o"></i> HTML Code
            </a>
        </li>
    </ul>

    <p class="copyright">
        &copy; {{ "now" | date: "%Y" }} APMaths. All rights reserved.
    </p>

</footer>