<ul class="main-nav">

    <!-- Trang chủ -->
    <li>
        <a class="nav-link" href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>{{ include.t.nav.home }}</span>
        </a>
    </li>


    <!-- Kiến thức -->
    <li class="has-submenu">

        <a class="nav-link" href="/knowledge/">
            <span>{{ include.t.nav.knowledge }}</span>
            <span class="nav-arrow">▾</span>
        </a>

        <ul class="sub-menu">

            <li>
                <a href="/knowledge/algebra/">
                    {{ include.t.submenu.algebra }}
                </a>
            </li>

            <li>
                <a href="/knowledge/calculus/">
                    {{ include.t.submenu.calculus }}
                </a>
            </li>

            <li>
                <a href="/knowledge/statistics/">
                    {{ include.t.submenu.statistics }}
                </a>
            </li>

        </ul>

    </li>


    <!-- Blog -->
    <li class="has-submenu">

        <a class="nav-link" href="/blog/">
            <span>{{ include.t.nav.blog }}</span>
            <span class="nav-arrow">▾</span>
        </a>

        <ul class="sub-menu">

            <li>
                <a href="/tags/">
                    #{{ include.t.submenu.tags }}
                </a>
            </li>

            <li>
                <a href="/categories/">
                    #{{ include.t.submenu.categories }}
                </a>
            </li>

        </ul>

    </li>


    <!-- Công cụ -->
    <li class="has-submenu">

        <a class="nav-link" href="/tools/">
            <span>{{ include.t.nav.tools }}</span>
            <span class="nav-arrow">▾</span>
        </a>

        <ul class="sub-menu">

            <li> <a href="/tools/html-code.html">  {{ include.t.submenu.html_code }} </a> </li>
            <li> <a href="/tools/qr/">  {{ include.t.submenu.qr }} </a> </li>
            <li> <a href="/tools/exam-clo/">  {{ include.t.submenu.exam_clo }} </a> </li>
            <li> <a href="/tools/exam-shuffler/">  {{ include.t.submenu.exam_shuffler }} </a> </li>

        </ul>

    </li>


    <!-- Tài nguyên -->
    <li>
        <a class="nav-link" href="/resources/">
            <span>{{ include.t.nav.resources }}</span>
        </a>
    </li>


    <!-- Giới thiệu -->
    <li class="has-submenu">

        <a class="nav-link" href="/about/">
            <span>{{ include.t.nav.about }}</span>
            <span class="nav-arrow">▾</span>
        </a>

        <ul class="sub-menu">

            <li>
                <a href="/cv/">
                    {{ include.t.submenu.cv }}
                </a>
            </li>

            <li>
                <a href="/other/people/">
                    {{ include.t.submenu.people }}
                </a>
            </li>

        </ul>

    </li>

</ul>